SITE_URL=https://roofingcontractorslexingtonky.com
SITE_HOST=roofingcontractorslexingtonky.com
INDEXNOW_KEY=5f3b9c0e71a84d7cab4926482f1e9051
INDEXNOW_KEY_LOCATION=https://roofingcontractorslexingtonky.com/5f3b9c0e71a84d7cab4926482f1e9051.txt

GOOGLE_SITE_URL=https://roofingcontractorslexingtonky.com/
GOOGLE_SITEMAP_URL=https://roofingcontractorslexingtonky.com/sitemap-0.xml
GOOGLE_APPLICATION_CREDENTIALS=./google-service-account.json
GOOGLE_AGGRESSIVE_INDEXING=true
GOOGLE_INDEXING_TYPE=URL_UPDATED
